.swatch-container {
    margin: 16px 0px 53px;
    overflow: auto;
}
.swatch {
    float: left;
    padding: 0px;
    margin: 0px 15px 0px 0px;
    width: 50px;
    height: 50px;
}
.swatch:nth-child(5) { margin-right: 0px; }
.active {
    border: 5px solid #ebebeb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#swatch-color-all {
    background-image: url("../img/swatch-all.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}
#swatch-color-red { background-color: #e22738; }
#swatch-color-blue { background-color: #00b0d4; }
#swatch-color-purple { background-color: #962389; }
#swatch-color-yellow { background-color: #ffb517; }
#swatch-logo-none { background-color: #000000; }
#swatch-logo-bb {
    background-color: #000000;
    background-image: url("../img/swatch-bb.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}
#swatch-logo-bl {
    background-color: #000000;
    background-image: url("../img/swatch-bl.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}
#swatch-logo-rock1 {
    background-color: #000000;
    background-image: url("../img/swatch-rock1.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}
#swatch-logo-rock2 {
    background-color: #000000;
    background-image: url("../img/swatch-rock2.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}
